<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>RegistServlet</servlet-name>
		<servlet-class>io.zhpooer.estore.web.servlet.RegistServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ActiveServlet</servlet-name>
		<servlet-class>io.zhpooer.estore.web.servlet.ActiveServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>io.zhpooer.estore.web.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProductAddServlet</servlet-name>
		<servlet-class>io.zhpooer.estore.web.servlet.ProductAddServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProductSearchServlet</servlet-name>
		<servlet-class>io.zhpooer.estore.web.servlet.ProductSearchServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddCartServlet</servlet-name>
		<servlet-class>io.zhpooer.estore.web.servlet.AddCartServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateCartItemServlet</servlet-name>
		<servlet-class>io.zhpooer.estore.web.servlet.UpdateCartItemServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteCartItemServlet</servlet-name>
		<servlet-class>io.zhpooer.estore.web.servlet.DeleteCartItemServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DeleteCartItemServlet</servlet-name>
		<url-pattern>/servlet/deleteCartItem</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateCartItemServlet</servlet-name>
		<url-pattern>/servlet/updateCartItem</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddCartServlet</servlet-name>
		<url-pattern>/servlet/addCart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductSearchServlet</servlet-name>
		<url-pattern>/servlet/productSearch </url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductAddServlet</servlet-name>
		<url-pattern>/servlet/productAdd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/servlet/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistServlet</servlet-name>
		<url-pattern>/servlet/regist</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActiveServlet</servlet-name>
		<url-pattern>/servlet/active</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>EncoderFilter</filter-name>
		<filter-class>io.zhpooer.estore.web.filter.EncoderFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>EncoderFilter</filter-name>
		<url-pattern>/servlet/*</url-pattern>
	</filter-mapping>
</web-app>
